<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="IRateAdvisorWeb.Site1" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
        <!-----===============Meta descriptions================================------>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords",content="Financial Health, Smart Software" />
    <meta name="Description", content="IRateAdvisor is a smart advisor to help South Africans manage their money better." />

    <meta name="author" content="SanveerSingh" />
    <!--Meta end======================================-->
    <asp:PlaceHolder runat="server">
       <%-- <%: Scripts.Render("~/bundles/modernizr") %>--%>
    </asp:PlaceHolder>

  <%--  <webopt:bundlereference runat="server" path="~/Content/css" />--%>
    <link href="images/favicon.ico" rel="shortcut icon" type="images/x-icon" />

    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SanveerSingh" />
    <!-- Stylesheets ============================================= -->
 	
    
    
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	 <!-- Document Title ============================================= -->

    <meta charset="utf-8" />
   	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<!--[endif]-->
	<link rel="stylesheet" href="css/colors.php?color=f0a540" type="text/css" />
	<!-- Document Title  ============================================= -->
    
    <title><%: Page.Title %>IRate_Advisors</title>

    <asp:PlaceHolder runat="server">
       <%-- <%: Scripts.Render("~/bundles/modernizr") %>--%>
    </asp:PlaceHolder>

   <%-- <webopt:bundlereference runat="server" path="~/Content/css" />--%>
    
</head>
<body class="stretched sticky-responsive-pagemenu">
    <form runat="server">
        <%--<asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
             <%--   <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />--%>
                <%--Site Scripts--%>
         <%--   </Scripts>
        </asp:ScriptManager>--%>

       <!----------------------------- this is the start of the  master ----------->
        <div id="wrapper" class="clearfix">
        
        
		<!-- Header
		============================================= -->
		<header id="header" class=" page-section full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
						<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="https://cdn.discordapp.com/attachments/739799085372014656/759375342653014016/unknown.png" alt="Canvas Logo"/></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="https://cdn.discordapp.com/attachments/739799085372014656/759375342653014016/unknown.png" alt="Canvas Logo"/></a>
					</div><!-- #logo end -->
					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="one-page-menu">

						<ul>
						<li><a href="About.aspx" data-href=""><div>About Us</div></a></li>
							<li><a id="login_register" runat="server" href="login.aspx" data-href=""><div>Login</div></a></li>
							<li><a id="Forum_Dashboard" runat="server" href="forum.aspx" data-href=""><div>Forum Dash</div></a></li>
							<li><a id="A1" runat="server" href="AdvisorDashBoard.aspx" data-href=""><div>Advisor Dashboard</div></a></li>
						
							<%--<li><a href="#" data-href="#section-about"><div>Project Overview</div></a></li>
							<li><a href="#" data-href="#section-work"><div>Technology</div></a></li>
							<li><a href="#" data-href="#section-team"><div>Team</div></a></li>
							
							<li><a href="#" data-href="#section-testimonials" class="no-offset"><div>Extras</div></a></li>--%>
							
						</ul>

					
					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
               <!--==================================CONTENT PLACEHOLDER START====================================-->
    <asp:ContentPlaceHolder ID="MainContent" runat="server">
    </asp:ContentPlaceHolder>
    <!--==================================CONTENT PLACEHOLDER END====================================-->
  
    <asp:ContentPlaceHolder ID="Footer1" runat="server">
    </asp:ContentPlaceHolder>
    <!-- Footer
		============================================= -->
            	<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div class="container">
				<!-- Footer Widgets
			============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="col_two_third">
						<div class="col_one_third">
							<div class="widget clearfix">
								<img src="https://cdn.discordapp.com/attachments/739799085372014656/759375342653014016/unknown.png" alt="" class="footer-logo"/>
								<p>We believe <strong>every human</strong> deserves the <strong> oppertunity</strong> to create <strong>wealth</strong>.</p>
								<br/>
								<p>Developed for<strong> Discovery</strong> who were an invaluable during the development process. </p>
							</div>
						</div>

				<div class="col_one_third col_last">
						<div class="widget widget_links clearfix">
							<h4>Looking forward to the announcement.</h4>
							<ul>
							<li><a href="#">an ASP.net web app proudly created by CBlunt.</a></li>
							</ul>
						</div>
				</div>
					<div class="col_one_third col_last">
						<div class="widget widget_links clearfix">
								<h4></h4>
								<ul>
									<li><a href="#">Documentation can be given on request, please email sanveer001@gmail.com .</a></li>
									<li><a href="#">Any and all Feedback would be appreciated.</a></li>
									<li><a href="#">Please get in touch.</a></li>
									<li><a href="#">Thank you for your time and effort.</a></li>
								</ul>
						</div>
					</div>
				<div class="widget subscribe-widget clearfix">		
					</div>
						<div class="widget clearfix" style="margin-bottom: -20px;">
							<div class="row">
							</div>
						</div>
					</div>
				</div><!-- .footer-widgets-wrap end -->
			</div>
		</footer><!-- #footer end -->
			<!-- Go To Top
		============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/plugins.js"></script>

<!-- Footer Scripts
	============================================= -->
		<script type="text/javascript" src="js/functions.js"></script>
      </div>

    </form>
</body>
</html>
